<html style="padding:10px;">
    <head>
        <title>URY AutoNews Selection</title>
        <h2>AutoNews Selection</h2>

        <link rel="stylesheet" href="styles.css">

        <!-- Bootstrap-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    </head>
    <body>

        {{ if .DataDriven }}
            <div class="alert alert-success alert-dismissable" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> AutoNews Preference Updated
            </div>
        {{ end }}

        <div style="float: left;">

            {{ if not .Timeslots }}
                <p style="clear:both; margin: 1em;"> No Shows Available Today </p>
            {{ end }}

            {{range .Timeslots}}
                <button class="selbtn btn btn-outline-primary" style="display:block; margin: 10px" onclick="button({{.Timeslotid}})" id=btn{{.Timeslotid}}>{{.Title}}</button>
            {{end}}

        </div>

        <div style="float: left;">
            {{range .Timeslots}}

                <form id="form{{.Timeslotid}}" class="autonewsform" style="margin:5em;">
                    <input type="hidden"  name="timeslotid" value="{{.Timeslotid}}">
                    <input type="checkbox" name="S" {{if .AutoNewsStart}}checked{{end}}>
                    <label for="S">AutoNews at Start of Show</label>
                    <br>
                    <input type="checkbox" name="E" {{if .AutoNewsEnd}}checked{{end}}>
                    <label for="E">AutoNews at End of Show</label>
                    <br>
                    <input type="submit" class="btn btn-primary" >
                </form>

            {{end}}
        </div>

        <p style="clear:both; margin: 1em;">Any problems, please contact Computing team (#computing on the URY Slack)</p>

        <div style="width: 30%; display: none;" id="autoselector">

            <ul class="list-group">
                <!-- Don't Judge Tables. This was horrible to implement otherwise :) -->
                <li class="list-group-item list-group-item-primary" style="text-align: center;">AutoSelector </li>
                
                    <li class="list-group-item list-group-item-dark selector-component" id="li1">
                        <table>
                            <td>
                                <div class="spinner-border" id="spinner1"></div>
                                <div style="float: left vertical-align: middle;"><h1 style="color: green; display: none;" id="check1">✓</h1></div>
                            </td>
                            <td>

                            </td>
                            <td>
                                <div style="float: left; vertical-align: middle;" id="text1"></div>
                            </td>
                        </table>
                    </li>

                    <li class="list-group-item list-group-item-dark selector-component" id="li2">
                        <table>
                            <td>
                                <div class="spinner-border" id="spinner2"></div>
                                <div style="float: left vertical-align: middle;"><h1 style="color: green; display: none;" id="check2">✓</h1></div>
                            </td>
                            <td>

                            </td>
                            <td>
                                <div style="float: left; vertical-align: middle;" id="text2"></div>
                            </td>
                        </table>
                    </li>

                    <li class="list-group-item list-group-item-dark selector-component" id="li3">
                        <table>
                            <td>
                                <div class="spinner-border" id="spinner3"></div>
                                <div style="float: left vertical-align: middle;"><h1 style="color: green; display: none;" id="check3">✓</h1></div>
                            </td>
                            <td>

                            </td>
                            <td>
                                <div style="float: left; vertical-align: middle;" id="text3"></div>
                            </td>
                        </table>
                    </li>

            </ul>

        </div>

        <script src="main.js"></script>

    </body>

</html>